.fondo-menu-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #edc6c6;
}
.divider {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #431414;
    box-sizing: border-box;
    height: 1px;
}
.horizontalmiddle-inset {
    position: absolute;
    height: 4.15%;
    width: 98.14%;
    top: 0%;
    right: 1.86%;
    bottom: 95.85%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 16px;
    box-sizing: border-box;
}
.horizontalmiddle-inset1 {
    position: absolute;
    height: 4.15%;
    width: 98.14%;
    top: 95.85%;
    right: 0%;
    bottom: 0%;
    left: 1.86%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 16px;
    box-sizing: border-box;
}
.separadores {
    position: absolute;
    height: 40.04%;
    width: 97.78%;
    top: 15.72%;
    right: 1.21%;
    bottom: 44.24%;
    left: 1.01%;
}
.d-avatars-23 {
    position: absolute;
    height: 11.72%;
    width: 24.24%;
    top: 2.25%;
    right: 71.52%;
    bottom: 86.04%;
    left: 4.24%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.bienvenido {
    position: absolute;
    top: 5.76%;
    left: 31.72%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.carrie-john {
    position: absolute;
    top: 10.16%;
    left: 31.72%;
    font-size: 30px;
    font-family: 'Josefin Sans';
}
.fondo-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 495px;
    height: 1024px;
    text-align: left;
    font-size: 24px;
}
.opcion-2-motivo-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
}
.espalda-y-bceps {
    position: absolute;
    top: 26.67%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.shoulder-and-neck-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 10%;
    right: 85.66%;
    bottom: 15%;
    left: 5.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-2-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 62.89%;
    right: 65.69%;
    bottom: 31.25%;
    left: -0.07%;
}
.opcion-1-motivo-seleccion-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(90deg, #f12711, #f37a16 14.17%, #fff 28.17%);
}
.pecho-y-trceps {
    position: absolute;
    top: 28.33%;
    left: 22.83%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.biset-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 11.67%;
    right: 85.66%;
    bottom: 13.33%;
    left: 5.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-1-motivo-seleccion {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 57.03%;
    right: 65.63%;
    bottom: 37.11%;
    left: 0%;
}
.hombros-y-abdominales {
    position: absolute;
    top: 28.33%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.group-icon {
    position: absolute;
    height: 55%;
    width: 7.27%;
    top: 21.67%;
    right: 86.06%;
    bottom: 23.33%;
    left: 6.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-3-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 68.75%;
    right: 65.63%;
    bottom: 25.39%;
    left: 0%;
}
.piernas-y-glteos {
    position: absolute;
    top: 30%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.buttocks-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 11.67%;
    right: 84.85%;
    bottom: 13.33%;
    left: 6.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-4-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 74.61%;
    right: 65.63%;
    bottom: 19.53%;
    left: 0%;
}
.cardio {
    position: absolute;
    top: 21.67%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.treadmill-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 3.33%;
    right: 84.44%;
    bottom: 21.67%;
    left: 6.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-5-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 80.47%;
    right: 65.63%;
    bottom: 13.67%;
    left: 0%;
}
.fuerza {
    position: absolute;
    top: 28.33%;
    left: 23.84%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.dumbbell-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 11.67%;
    right: 84.65%;
    bottom: 13.33%;
    left: 6.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-6-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 86.33%;
    right: 65.63%;
    bottom: 7.81%;
    left: 0%;
}
.actions-uistar {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 21.35%;
    right: 84.85%;
    bottom: 22.47%;
    left: 5.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.favoritos {
    position: absolute;
    top: 35.96%;
    left: 22.42%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.opcion2-menu {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 26.95%;
    right: 65.63%;
    bottom: 64.36%;
    left: 0%;
}
.calendario {
    position: absolute;
    top: 35.96%;
    left: 21.62%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.objects-thingscalendar-alt {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 23.6%;
    right: 84.24%;
    bottom: 20.22%;
    left: 5.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion3-menu {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 35.64%;
    right: 65.63%;
    bottom: 55.66%;
    left: 0%;
}
.actions-uicheck-square {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 22.47%;
    right: 84.04%;
    bottom: 21.35%;
    left: 5.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion4-menu {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 44.34%;
    right: 65.63%;
    bottom: 46.97%;
    left: 0%;
}
.nature-weathersun {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 21.35%;
    right: 84.65%;
    bottom: 22.47%;
    left: 5.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.mi-dia {
    position: absolute;
    top: 35.96%;
    left: 22.22%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.opcion1-menu {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 18.26%;
    right: 65.63%;
    bottom: 73.05%;
    left: 0%;
    text-align: left;
}
.encabezado-2-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(90deg, #f12711, #f37a16 61.17%, #f5af19);
}
.titulo-1 {
    position: absolute;
    top: 39.92%;
    left: 3.81%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.text {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    z-index: 0;
}
.arrowschevron-down-sm-icon {
    width: 24px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 12px);
    right: 10px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}
.dropdown {
    position: absolute;
    height: 20.17%;
    width: 35.45%;
    top: 68.49%;
    right: 60.74%;
    bottom: 11.34%;
    left: 3.81%;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #431414;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 36px 12px 16px;
    gap: 4px;
    font-size: 32px;
    color: #431414;
}
.encabezado-2 {
    position: absolute;
    top: 0px;
    left: 495px;
    width: 945px;
    height: 238px;
    text-align: left;
    font-size: 96px;
    color: #fbf4f4;
}
.horizontalfull-width {
    position: absolute;
    height: 1.07%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 98.93%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.horizontalfull-width1 {
    position: absolute;
    height: 1.07%;
    width: 100%;
    top: 32.98%;
    right: 0%;
    bottom: 65.95%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.horizontalfull-width2 {
    position: absolute;
    height: 1.07%;
    width: 100%;
    top: 49.47%;
    right: 0%;
    bottom: 49.47%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.horizontalfull-width3 {
    position: absolute;
    height: 1.07%;
    width: 100%;
    top: 98.93%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.horizontalfull-width4 {
    position: absolute;
    height: 1.07%;
    width: 100%;
    top: 82.44%;
    right: 0%;
    bottom: 16.49%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.horizontalfull-width5 {
    position: absolute;
    height: 1.07%;
    width: 100%;
    top: 65.95%;
    right: 0%;
    bottom: 32.98%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.horizontalfull-width6 {
    position: absolute;
    height: 1.07%;
    width: 100%;
    top: 16.49%;
    right: 0%;
    bottom: 82.44%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.separadores-2 {
    position: absolute;
    height: 83.12%;
    width: 94.07%;
    top: 14.09%;
    right: 3.7%;
    bottom: 2.79%;
    left: 2.22%;
}
.fondo-cuerpo {
    position: absolute;
    top: 238px;
    left: 495px;
    width: 945px;
    height: 788px;
}
.actions-uiplus {
    position: absolute;
    height: 100%;
    width: 14.43%;
    top: 0%;
    right: 85.57%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-12 {
    position: absolute;
    top: 10.34%;
    left: 31.84%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.agregar {
    position: absolute;
    height: 2.83%;
    width: 13.96%;
    top: 69.04%;
    right: 47.78%;
    bottom: 28.13%;
    left: 38.26%;
    font-size: 32px;
    font-family: 'Patua One';
}
.objects-thingscalender {
    position: absolute;
    height: 43.64%;
    width: 13.87%;
    top: 56.36%;
    right: 29.48%;
    bottom: 0%;
    left: 56.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.fecha {
    position: absolute;
    top: 52.73%;
    left: 71.68%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.titulo-2 {
    position: absolute;
    top: 0%;
    left: 2.31%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.opcion {
    position: absolute;
    top: 56.36%;
    left: 14.45%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.photo-imageimage {
    position: absolute;
    height: 43.64%;
    width: 13.87%;
    top: 56.36%;
    right: 86.13%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.tarea-1 {
    position: absolute;
    height: 5.37%;
    width: 12.01%;
    top: 26.56%;
    right: 45.49%;
    bottom: 68.07%;
    left: 42.5%;
    font-size: 24px;
}
.tarea-2 {
    position: absolute;
    height: 5.37%;
    width: 12.01%;
    top: 37.3%;
    right: 45.21%;
    bottom: 57.32%;
    left: 42.78%;
    font-size: 24px;
}
.tarea-3 {
    position: absolute;
    height: 5.37%;
    width: 12.01%;
    top: 47.56%;
    right: 45.21%;
    bottom: 47.07%;
    left: 42.78%;
    font-size: 24px;
}
.tarea-4 {
    position: absolute;
    height: 5.37%;
    width: 12.01%;
    top: 58.3%;
    right: 45.21%;
    bottom: 36.33%;
    left: 42.78%;
    font-size: 24px;
}
.actions-uistar1 {
    position: absolute;
    height: 21.01%;
    width: 93.55%;
    top: 76.09%;
    right: 0%;
    bottom: 2.9%;
    left: 6.45%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.actions-uistar2 {
    position: absolute;
    height: 21.01%;
    width: 93.55%;
    top: 0.72%;
    right: 6.45%;
    bottom: 78.26%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.estrellas-vacias {
    position: absolute;
    height: 13.48%;
    width: 2.15%;
    top: 48.73%;
    right: 3.96%;
    bottom: 37.79%;
    left: 93.89%;
}
.actions-uistar-solid {
    position: absolute;
    height: 21.64%;
    width: 96.67%;
    top: 78.36%;
    right: 0%;
    bottom: 0%;
    left: 3.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.actions-uistar-solid1 {
    position: absolute;
    height: 21.64%;
    width: 96.67%;
    top: 1.49%;
    right: 3.33%;
    bottom: 76.87%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.estrellas-completas {
    position: absolute;
    height: 13.09%;
    width: 2.08%;
    top: 27.83%;
    right: 4.1%;
    bottom: 59.08%;
    left: 93.82%;
}
.opciones-2-icon {
    position: absolute;
    height: 21.17%;
    width: 100%;
    top: -1.46%;
    right: 0%;
    bottom: 80.29%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.check-box-outline-blank-icon {
    position: absolute;
    height: 21.17%;
    width: 100%;
    top: 77.37%;
    right: 0%;
    bottom: 1.46%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.check-vacios {
    position: absolute;
    height: 13.38%;
    width: 2.01%;
    top: 27.44%;
    right: 60%;
    bottom: 59.18%;
    left: 37.99%;
}
.check-vacios1 {
    position: absolute;
    height: 13.38%;
    width: 2.01%;
    top: 48.83%;
    right: 60%;
    bottom: 37.79%;
    left: 37.99%;
}
.rutina-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #431414;
    font-family: 'Patrick Hand';
}

