
body {
    margin: 0;
    line-height: normal;
}


.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background-color: #edc6c6;
    width: 477px;
    height: 807px;
}
.registrarse {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 500;
}
.sign-in-button {
    position: absolute;
    top: 425px;
    left: calc(50% - 168px);
    border-radius: 5px;
    background-color: #fff;
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    color: #000;
}
.registrarse1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 85px);
    font-size: 34px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-transform: capitalize;
    color: #431414;
    text-align: left;
}
.nombre {
    position: absolute;
    top: 125px;
    left: calc(50% - 172px);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
}
.apellido {
    position: absolute;
    top: 125px;
    left: calc(50% + 6px);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
}
.direccin-de-correo {
    position: absolute;
    top: 196px;
    left: calc(50% - 172px);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
}
.contrasea {
    position: absolute;
    top: 270px;
    left: calc(50% - 174px);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
}
.confimar-contrasea {
    position: absolute;
    top: 344px;
    left: calc(50% - 174px);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    color: #1e1e1e;
    text-align: left;
}
.por-favor-proporcinenos {
    position: absolute;
    top: 79px;
    left: calc(50% - 173px);
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 127%;
    color: #591a1a;
    display: inline-block;
    width: 347px;
}
.ya-tienes-una {
    position: absolute;
    top: 0px;
    left: calc(50% - 130.5px);
    letter-spacing: -0.01em;
    line-height: 127%;
    display: inline-block;
    width: 184px;
}
.iniciar-sesin {
    position: absolute;
    top: 0px;
    left: calc(50% + 36.5px);
    letter-spacing: -0.01em;
    line-height: 127%;
    font-weight: 600;
    display: inline-block;
    width: 94px;
    cursor: pointer;
}
.ya-tienes-una-cuenta-parent {
    position: absolute;
    top: 481px;
    left: calc(50% - 116px);
    width: 261px;
    height: 19px;
    font-size: 15px;
    color: #1e1e1e;
}
.descripcion {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
}
.name-field {
    position: absolute;
    top: 151px;
    left: calc(50% - 172px);
    border-radius: 5px;
    background-color: #f5f4f4;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 14px;
}
.name-field1 {
    position: absolute;
    top: 151px;
    left: calc(50% + 6px);
    border-radius: 5px;
    background-color: #f5f4f4;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 14px;
}
.field {
    position: absolute;
    top: 225px;
    left: calc(50% - 174px);
    border-radius: 5px;
    background-color: #f5f4f4;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 348px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 14px;
}
.field1 {
    position: absolute;
    top: 300px;
    left: calc(50% - 174px);
    border-radius: 5px;
    background-color: #f5f4f4;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 348px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 14px;
}
.field2 {
    position: absolute;
    top: 374px;
    left: calc(50% - 174px);
    border-radius: 5px;
    background-color: #f5f4f4;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 348px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 14px;
}
.sign-in-button-parent {
    position: absolute;
    top: 154px;
    left: calc(50% - 173.5px);
    width: 348px;
    height: 500px;
}
.rectangle-parent {
    position: absolute;
    top: 109px;
    left: 482px;
    width: 477px;
    height: 807px;
}
.registro {
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, #f12711, #f5af19);
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    color: #807d7d;
    font-family: Urbanist;
}

