.actions-uiplus {
    position: absolute;
    height: 100%;
    width: 14.43%;
    top: 0%;
    right: 85.57%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-12 {
    position: absolute;
    top: 10.34%;
    left: 31.84%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.agregar {
    position: absolute;
    height: 2.83%;
    width: 13.96%;
    top: 88.28%;
    right: 85.9%;
    bottom: 8.89%;
    left: 0.14%;
    font-size: 32px;
    font-family: 'Patua One';
}
.fondo-menu-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #edc6c6;
}
.divider {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #431414;
    box-sizing: border-box;
    height: 1px;
}
.horizontalmiddle-inset {
    position: absolute;
    height: 4.15%;
    width: 98.14%;
    top: 0%;
    right: 1.86%;
    bottom: 95.85%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 16px;
    box-sizing: border-box;
}
.horizontalmiddle-inset1 {
    position: absolute;
    height: 4.15%;
    width: 98.14%;
    top: 95.85%;
    right: 0%;
    bottom: 0%;
    left: 1.86%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 16px;
    box-sizing: border-box;
}
.separadores {
    position: absolute;
    height: 40.04%;
    width: 97.78%;
    top: 15.72%;
    right: 1.21%;
    bottom: 44.24%;
    left: 1.01%;
}
.d-avatars-23 {
    position: absolute;
    height: 11.72%;
    width: 24.24%;
    top: 2.25%;
    right: 71.52%;
    bottom: 86.04%;
    left: 4.24%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.bienvenido {
    position: absolute;
    top: 5.76%;
    left: 31.72%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.carrie-john {
    position: absolute;
    top: 10.16%;
    left: 31.72%;
    font-size: 30px;
    font-family: 'Josefin Sans';
}
.fondo-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 495px;
    height: 1024px;
    text-align: left;
    font-size: 24px;
}
.opcion-2-motivo-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
}
.espalda-y-bceps {
    position: absolute;
    top: 26.67%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.shoulder-and-neck-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 10%;
    right: 85.66%;
    bottom: 15%;
    left: 5.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-2-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 62.79%;
    right: 65.49%;
    bottom: 31.35%;
    left: 0.14%;
}
.pecho-y-trceps {
    position: absolute;
    top: 30%;
    left: 22.83%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.biset-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 13.33%;
    right: 85.66%;
    bottom: 11.67%;
    left: 5.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-1-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 56.93%;
    right: 65.49%;
    bottom: 37.21%;
    left: 0.14%;
}
.hombros-y-abdominales {
    position: absolute;
    top: 28.33%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.group-icon {
    position: absolute;
    height: 55%;
    width: 7.27%;
    top: 21.67%;
    right: 86.06%;
    bottom: 23.33%;
    left: 6.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-3-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 68.65%;
    right: 65.49%;
    bottom: 25.49%;
    left: 0.14%;
}
.piernas-y-glteos {
    position: absolute;
    top: 30%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.buttocks-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 11.67%;
    right: 84.85%;
    bottom: 13.33%;
    left: 6.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-4-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 74.51%;
    right: 65.49%;
    bottom: 19.63%;
    left: 0.14%;
}
.cardio {
    position: absolute;
    top: 21.67%;
    left: 23.03%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.treadmill-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 3.33%;
    right: 84.44%;
    bottom: 21.67%;
    left: 6.46%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-5-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 80.37%;
    right: 65.49%;
    bottom: 13.77%;
    left: 0.14%;
}
.fuerza {
    position: absolute;
    top: 28.33%;
    left: 23.84%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.dumbbell-icon {
    position: absolute;
    height: 75%;
    width: 9.09%;
    top: 11.67%;
    right: 84.65%;
    bottom: 13.33%;
    left: 6.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-6-motivo {
    position: absolute;
    height: 5.86%;
    width: 34.38%;
    top: 86.23%;
    right: 65.49%;
    bottom: 7.91%;
    left: 0.14%;
}
.actions-uistar {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 21.35%;
    right: 84.85%;
    bottom: 22.47%;
    left: 5.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.favoritos {
    position: absolute;
    top: 35.96%;
    left: 22.42%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.opcion2-menu {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 26.66%;
    right: 65.49%;
    bottom: 64.65%;
    left: 0.14%;
}
.tareas-completadas {
    position: absolute;
    top: 35.96%;
    left: 21.62%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.actions-uicheck-square {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 22.47%;
    right: 84.04%;
    bottom: 21.35%;
    left: 5.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion4-menu {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 44.04%;
    right: 65.49%;
    bottom: 47.27%;
    left: 0.14%;
}
.nature-weathersun {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 21.35%;
    right: 84.65%;
    bottom: 22.47%;
    left: 5.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.mi-dia {
    position: absolute;
    top: 35.96%;
    left: 22.22%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.opcion1-menu {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 17.97%;
    right: 65.49%;
    bottom: 73.34%;
    left: 0.14%;
    text-align: left;
}
.opcion-3-menu-seleccion-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(90deg, #f12711, #f37a16 14.17%, #fff 28.17%);
}
.calendario1 {
    position: absolute;
    top: 38.2%;
    left: 21.62%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.objects-thingscalendar-alt {
    position: absolute;
    height: 56.18%;
    width: 10.1%;
    top: 23.6%;
    right: 84.24%;
    bottom: 20.22%;
    left: 5.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.opcion-3-menu-seleccion {
    position: absolute;
    height: 8.69%;
    width: 34.38%;
    top: 35.35%;
    right: 65.63%;
    bottom: 55.96%;
    left: 0%;
}
.encabezado-2-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(90deg, #f12711, #f37a16 61.17%, #f5af19);
}
.titulo-1 {
    position: absolute;
    top: 39.92%;
    left: 3.81%;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.text {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    z-index: 0;
}
.arrowschevron-down-sm-icon {
    width: 24px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 12px);
    right: 10px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}
.dropdown {
    position: absolute;
    height: 20.17%;
    width: 35.45%;
    top: 68.49%;
    right: 60.74%;
    bottom: 11.34%;
    left: 3.81%;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #431414;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 36px 12px 16px;
    gap: 4px;
    font-size: 32px;
    color: #431414;
}
.encabezado-2 {
    position: absolute;
    top: 0px;
    left: 495px;
    width: 945px;
    height: 238px;
    text-align: left;
    font-size: 96px;
    color: #fbf4f4;
}
.arrowschevron-left-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.january-2022 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    text-transform: uppercase;
}
.header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.text1 {
    width: 20px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    flex-shrink: 0;
}
.calendarbase {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
}
.weekdays {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.calendarbase7 {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
}
.calendarbase13 {
    flex: 1;
    background-color: #ffeae8;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
    color: #431414;
}
.calendarbase14 {
    flex: 1;
    background-color: #ffeae8;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
}
.row05 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: #431414;
}
.calendarbase25 {
    flex: 1;
    background-color: #431414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px;
    color: #fff;
}
.rows {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #591a1a;
}
.calendar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 24px;
    border: 1px solid #431414;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
}
.calendario2 {
    position: absolute;
    height: 50%;
    width: 81.9%;
    top: 4.7%;
    right: 8.99%;
    bottom: 45.3%;
    left: 9.1%;
}
.fondo-calendario {
    position: absolute;
    top: 238px;
    left: 495px;
    width: 945px;
    height: 788px;
    font-size: 18px;
}
.nueva-tarea-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #ffeae8;
}
.motivo {
    position: absolute;
    top: 61.99%;
    left: 75.77%;
    font-size: 32px;
    letter-spacing: 0.02em;
}
.text50 {
    position: relative;
    letter-spacing: 0.02em;
    z-index: 0;
}
.dropdown1 {
    position: absolute;
    height: 13.71%;
    width: 20.85%;
    top: 75.39%;
    right: 3.7%;
    bottom: 10.9%;
    left: 75.45%;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #431414;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 36px 12px 16px;
    gap: 8px;
}
.image-base-icon {
    position: absolute;
    height: 69.47%;
    width: 28.78%;
    top: 21.81%;
    right: 25.61%;
    bottom: 8.72%;
    left: 45.61%;
    border-radius: 2px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.text51 {
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 24px;
}
.text-field {
    position: absolute;
    height: 13.4%;
    width: 41.9%;
    top: 21.81%;
    right: 55.45%;
    bottom: 64.8%;
    left: 2.65%;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #431414;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 48px 12px 14px;
    font-size: 24px;
}
.text52 {
    align-self: stretch;
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    z-index: 0;
}
.actions-uiresizer {
    width: 24px;
    position: absolute;
    margin: 0 !important;
    right: 4px;
    bottom: 4px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 1;
}
.text-box {
    position: absolute;
    height: 50.16%;
    width: 42.01%;
    top: 41.12%;
    right: 55.45%;
    bottom: 8.72%;
    left: 2.54%;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #431414;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 16px 16px;
    gap: 10px;
    font-size: 20px;
}
.value {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: flex;
    align-items: center;
    height: 24px;
}
.field {
    flex: 1;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #431414;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
}
.label {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.tab {
    border-radius: 8px;
    background-color: #431414;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
.tab1 {
    border-radius: 0px 8px 8px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color: #431414;
}
.yes-no {
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #ffeae8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #fff;
}
.time-field {
    position: absolute;
    height: 12.46%;
    width: 20.42%;
    top: 41.12%;
    right: 3.81%;
    bottom: 46.42%;
    left: 75.77%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: right;
    font-family: 'Inter Variable';
}
.titulo-11 {
    position: absolute;
    top: 6.85%;
    left: 2.65%;
    font-size: 36px;
    line-height: 24px;
    text-align: right;
}
.field1 {
    position: absolute;
    height: 13.4%;
    width: 20.74%;
    top: 21.81%;
    right: 3.81%;
    bottom: 64.8%;
    left: 75.45%;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #431414;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    gap: 8px;
    text-align: right;
    color: #591a1a;
    font-family: 'Inter Variable';
}
.actions-uiupload {
    position: absolute;
    height: 7.48%;
    width: 2.54%;
    top: 76.95%;
    right: 27.83%;
    bottom: 15.58%;
    left: 69.63%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.nueva-tarea {
    position: absolute;
    top: 703px;
    left: 495px;
    width: 945px;
    height: 321px;
    text-align: left;
    font-size: 16px;
}
.calendario {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #431414;
    font-family: 'Patrick Hand';
}

