body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(90deg, #f12711, #f5af19);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #EDC6C6;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: rgb(0,0,0);
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    
}
.complete, .favorite, .delete {
    background-color: #000;   /* Color de fondo negro */
    color: #fff;              /* Color de texto blanco */
    font-size: 16px;          /* Aumenta el tamaño de la fuente */
    padding: 10px 15px;       /* Aumenta el relleno interno para hacer los botones más grandes */
    border: none;             /* Elimina cualquier borde predeterminado */
    border-radius: 5px;       /* Bordes ligeramente redondeados */
    margin-right: 5px;        /* Espacio entre los botones */
    cursor: pointer;          /* Muestra el cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.complete:hover, .favorite:hover, .delete:hover {
    background-color: #333;   /* Cambia a un gris oscuro cuando se pasa el ratón sobre el botón */
}

.task-item {
    border: 1px solid #ccc;     /* Borde del rectángulo */
    border-radius: 8px;         /* Bordes redondeados */
    padding: 15px;              /* Espacio interno */
    margin-bottom: 10px;        /* Espacio entre cada tarea */
    background-color: #f9f9f9;  /* Color de fondo del rectángulo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    width: calc(100% - 30px);   /* Asegura que el ancho del rectángulo respete el padding */
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.fondo{
    background: #EDC6C6;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  rgb(0,0,0);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(90deg, #f12711, #f5af19);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: rgb(0,0,0);
    font-weight: 600;
}
.link:hover{
    background: linear-gradient(90deg, #f12711, #f5af19);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}